

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #408E91;
    color:#fff;
    line-height:1.6;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
    color:#fff;;
}

.grid {
    display:grid;
}

h1,h2 {
    font-weight:600;
    line-height:1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background-color: #245953;
    height: 60px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.grid {
    display: grid;
}

.container.grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;

}

.navbar a {
    font-size:18px;

}
.cart-search a {
    padding: 5px;
    margin: 0 5px;

}

.cart-search {
    display: flex;
    justify-content: flex-end;
}

.logo {
    grid-column: 1;
}

.shop-category {
    grid-column: 2 / span 2;
}

.cart-search {
    grid-column: 4;
}


.cart-icon .badge {
    position: relative;
    bottom: -3px;
    left: -12px;
    padding: 3px;
    background-color: #E49393;
    color: #000;
    border-radius: 50%;
    font-size: 14px;
    display:none;
}

.cart-icon .has-badge  {
    display: inline;
}

.sidebar {
    background-color: #408E91;
    color: #fff;
    position: fixed;
    height:100%;
    width: 200px;
    text-align: center;
    justify-content: space-evenly;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 10px
}


.flex {
    display: flex;
    flex-direction: column;
}

.sidebar-links {
    line-height: 1.8;
}

.sidebar-links a:hover {
    background-color: #245953;
    color: #fff;
}


.sidebar-contact a:hover {
    background-color:  #245953;
    color: #fff;
}

.sidebar-contact a {
    margin: 10px 0;
    line-height: 1;
}

.image {
    width: 200px;
}

.main-content {
    margin-left: 200px;

}

.main-content .image {
    width: 100%;
}
.main-content .img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.image h1 {
    position: absolute;
    margin:15px 15px;
}

.image p {
    position: absolute;
    margin: 55px 15px;
}



.shop-header {
    margin-top: -15px;
    background-color: #245953;
}
.shop-header h3 {
    padding: 10px 10px;
}

.shop-items {
    background-color: #D8D8D8;
    grid-template-columns: repeat(4, 1fr);
}


.item-card {
    background-color: #fff;
    margin: 30px 20px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    width: 150px;
    height: 220px;

    color : #000;

}

.image-container {
    height: 130px;
    position: relative;
}

.item-card h3 {
    font-weight: 500;
    margin: 10px;
    line-height: 1;
}

.image-container i {
    position: absolute;
    bottom: 10px;
    left: 45%;
    color: red;
    display: none;
}

.image-container:hover i{
    display: block;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit:fill;

}

.image-container .badge {
    position: absolute;
    bottom: 5px;;
    left: 80%;
    padding: 7px;
    background-color: #E49393;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    display: none;
}

.image-container .has-badge{
    display: block;
}

.new-row {
    grid-column-start: 1;
}
/* end of index styling */

/* cart styling */
.cart h1 {
    margin: 20px 0;
    text-align: center;
}

.cart-items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
}

.cart-items .item-card {
    flex-direction: row;
    justify-content: flex-start;
    height: 55%;

    width: 100%;
}

.remove-btn {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
}

.remove-btn p {
    font-size: 10px;
    margin-left: 5px;
}

.item-btn{
    flex-direction :row;
    align-items: center;
    margin-left: auto;
}

.item-btn .itemCount {
    text-align: center;
    width: 30px;
    padding: 5px 0;
}

.btn.btn-primary {
    border-radius: 100%;
    padding: 5px;
}

.remove-btn:hover {
    background-color: #E49393;
    color: #fff;
}




/* <1024x */


@media(max-width: 1024px) {
    .navbar {
        height: 120px;
    }

    .container .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        justify-content: space-between;
        align-items: center;


    }

    .shop-category {
        grid-column-start: 1;
    }

    .cart-search {
        overflow: auto;
    }

    span.badge {
        padding: 1px;

    }

    .shop-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .sidebar {
        justify-content: flex-start;
    }

    .sidebar-contact {
        margin-top: 5px;
    }

}